:root{
    --cor-header-footer: darkmagenta;
    --cor-button: thistle;
    --cor-fundo-button: white;
    --cor-button-text: #241D40;
    --cor-body: thistle;
    --cor-text-HF: whitesmoke;

    --cor-header-footer: darkblue;
    --cor-button: lightblue;
    --cor-fundo-button: white;
    --cor-button-text: #241D40;
    --cor-body: lightblue;
    --cor-text-HF: whitesmoke ;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
    }
    
    header a{
        text-decoration: none;
        color: whitesmoke;
    }
    
    footer a{
        text-decoration: none;
        color: whitesmoke;
    }
    
    header {
         background-color: var(--cor-header-footer); 
        /* background-color: #6c5ce7;  */
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        color: var(--cor-text-HF);
        /* box-shadow: 0 0 0.1em 0.05em; */
    }
    
    body {
        background-color: var(--cor-body);
        height: 100vh;
    }
    
    main {
        /* background-color: #aaa69d; */
        background-color: var(--cor-fundo-button);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        max-width: 800px;
        margin: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        min-height: 100%;
    }
    
    footer {
        /* background-color: #6c5ce7;
        background-color: rgb(94, 4, 94); 
         */
        background-color: var(--cor-header-footer); 
    
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cor-text-HF);
        position: fixed;
        bottom: 0;
        /* box-shadow: 0 0 0.1em 0.05em; */
    }
    
    
    .button {
        width: 80%;
        height: 10vh;
        max-width: 500px;
        background: var(--cor-button);
        text-align: center;
        line-height: 10vh;
        font-size: 1.5rem;
        font-weight: bold;
        box-shadow: 2px 2px 2px var(--cor-header-footer);
        /* border: 3px dashed var(--cor-header-footer); */
      }
    
    
      .link{
        /* border: 1px solid red; */
        color: var(--cor-button-text);
        text-align: center;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
    
    /*Abaixo criados para poder testar telas de cadastro */
        .text {
            width: 80%;
            height: 10vh;
            max-width: 500px;
            /* background: var(--cor-button); */
            text-align: left;
            line-height: 10vh;
            font-size: 1.2rem;
            font-weight: bold;
            /* box-shadow: 2px 2px 2px var(--cor-header-footer); */
            /* border: 3px dashed var(--cor-header-footer); */
        }
        
        /* não esta utilizando */
        .buttonPag {
            width: 40%;
            height: 10vh;
            max-width: 250;
            background: var(--cor-button);
            text-align: center;
            line-height: 10vh;
            font-size: 1.5rem;
            font-weight: bold;
            box-shadow: 2px 2px 2px var(--cor-header-footer);
            /* border: 3px dashed var(--cor-header-footer); */
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        }
        form {
            /* background-color: blueviolet; */
            height: 85%;
            padding: 1rem;
            padding-top: 0.5rem;
        }
    
        .link2{
            color: var(--cor-text-HF);
            text-align: center;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: bold;
          }
    
          .back-home {
              text-decoration: none;
              color: var(--cor-text-HF);
          }


    /* especificos deste projeto */
    .description{
        width: 80%;
        text-align: center;
    }
    .description>h1{
        padding: 0;

    }
    .description>p{
        padding-top: 1rem;
        /* text-align: center; */
        font-weight: 600;
    }
